*{
    margin: 0px;
    padding: 0px;
    
}

.body{
    background-color:white;
}

.bdq-header {
    background-image: linear-gradient(
     to bottom,
     #63d471 0%,
     #345240 100%
   );
    width: 100%;
    position: sticky;
    top: 0px;
    font-weight: 600;
    height: 4 rem;
    z-index: 1000000;
    padding: 1rem;
    color: white;
 }

 .ptcl-logo p{
    text-transform:uppercase;
    letter-spacing: 0.05rem;
    font-size: 1.25rem;
 }

 .bdq-back i{
     font-size: 1.5rem;
     color: white;
     transition: all 0.5s;
     cursor: pointer;
     padding: 10px;
     border-radius: 7px;
 }

 .bdq-back i:hover{
    transform: translateX(-3px);
    background-color: rgba(0, 0, 0, 0.3);
}

.img1 {
    width: 4.5rem;
    height: 2rem;
  }

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background:transparent  ;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(73, 73, 241);
  border-radius: 5px;
  cursor: pointer;
  
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  
  background: rgb(73, 73, 241,0.7);
}

.bdq-container{
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  margin:0.5rem ;
  overflow: hidden;
}


#bdq-select-region
{
  background-color:rgba(177, 171, 171, 0.1) ;
  color:white;
  border-radius: 8px;
  margin-bottom: 1rem;
  color: black;
  position: relative;
  transition: all 0.5s;
  width: 90vw;
  outline: none;
  height: 2.5rem;
}
.form-select:focus{
    outline: none;
}

#bdq-select-region:hover
{
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.card{
  background-color:#c0c2c049 !important;
    margin-top: 2rem;
    width: 90%;
}

.card input:focus{
    outline: none;
    box-shadow: none;
}

#resultField{
  width: 100%;
  height: 2.3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: rgb(218, 216, 216);
  border-radius: 0.2rem;
  border: 1px solid rgb(211, 208, 208);
}
