*{
    margin: 0px;
    padding: 0px;
    
}

.body{
    background-color:white;
    overflow-y: overlay;
}

.faqs-header {
    background-image: linear-gradient(
     to bottom,
     #63d471 0%,
     #345240 100%
   );
    width: 100%;
    position: sticky;
    top: 0px;
    font-weight: 600;
    height: 4 rem;
    z-index: 1000000;
    padding: 1rem;
    color: white;
 }

 .ptcl-logo p{
    text-transform:uppercase;
    letter-spacing: 0.05rem;
    font-size: 1.25rem;
 }

 .faqs-back i{
     font-size: 1.5rem;
     color: white;
     transition: all 0.5s;
     cursor: pointer;
     padding: 10px;
     border-radius: 7px;
 }

 .faqs-back i:hover{
    transform: translateX(-3px);
    background-color: rgba(0, 0, 0, 0.3);
}

.img1 {
    width: 4.5rem;
    height: 2rem;
  }

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background:transparent  ;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(73, 73, 241);
  border-radius: 5px;
  cursor: pointer;
  
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  
  background: rgb(73, 73, 241,0.7);
}

.faqs-container{

  gap: 1rem;
  margin:1rem ;
  overflow: hidden;
}


